<mat-drawer-container class="content" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">
        <div style="padding: 20px">
            <p>Menu</p>
            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button (click)="showFiller = !showFiller" mat-raised-button >
            Toggle extra text haha
            </button>
        </div>

    </mat-drawer>

    <div class="top-x">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false">list</mat-icon>
      </button>
    </div>

    <div class="page-content">

        <br><br>

        <h1>Usuários</h1>

        <button mat-raised-button color="primary">Adicionar</button>

        <mat-form-field class="example-full-width">
            <mat-label>Pesquisar...</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>

        <br><br>

        <app-data-table [TableData]="teste"></app-data-table>
    </div>
</mat-drawer-container>